// color
$primary : #1aa4c8;
$button-hover:#0582A2;
$button-active:#28B7DC;
$button-focus:#1AA4C8;
$button-disable:#8CD1E3;

// Button
$button-height:36px;
$button-icon-height : 28px;
$button-width:124px;
$button-boder-radius:3px;
$button-text-padding:0 16px;
$button-icon-margin:0 6px;
$button-icon-line-height:24px;
$button-disable-opacity:0.56;
$button-outline:#a6c7ff auto 1px;
$button-radius:20px;
$button-radius-height:30px;

// Toast
$toast-info-bg: #e8f5f7;
$toast-info-icon-bg:$primary;
$toast-success-bg: #c7f2de;
$toast-success-icon-bg:#00c853;
$toast-error-bg: #ffe2e2;
$toast-error-icon-bg:#e61d1d;
$toast-warning-bg: #fff4e5;
$toast-warning-icon-bg:#ff9100;

// primary
$btn-primary-color: #fff;
$btn-primary-color:#1AA4C8;
$btn-primary-hover-bg:#0582A2;
$btn-primary-active-bg:#28B7DC;

