@import url(./button.scss);
@import url(./dialog.scss);
@import url(./input-field.scss);
@import url(./menu.scss);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MISA_Fonts";
  font-size: 13px;
}
.app {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .wrap-left {
    display: flex;
  }
  .wrap-right {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .layout-header {
    position: relative;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }
}

.layout-header {
  .title-page {
    font-size: 15px;
    font-weight: bold;
  }

  .right-header {
    display: flex;
    position: relative;

    .organization-name {
      display: flex;
      align-items: center;
    }

    .header-item {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
    .tool-header {
      display: flex;
      .notification {
      }
    }

    .ctr-number {
      input {
        border: none;
        width: 50px;
        margin-left: 8px;

        &::-webkit-inner-spin-button {
          opacity: 1;
        }

        &:hover,
        &:focus,
        &:active {
          border: none;
          outline: none;
        }
      }
    }
  }
}

.wrap-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 16px;
  overflow: hidden;
  background-color: #f4f7ff;

  .toolbar {
    display: flex;
    padding: 8px 0;
  }
}

.ctr-input {
  height: 35px;
  display: flex;
  background-color: #ffffff;
  border-radius: 2.5px;
  border: 1px solid #afafaf;
  width: 180px;
  height: 35px;
  overflow: hidden;
  .con-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32px;
  }

  input {
    height: 100%;
    width: 100%;
    border: none;

    &:hover,
    &:focus,
    &:active {
      border: none;
      outline: none;
    }

    &::placeholder {
      font-style: italic;
    }
  }
}

.ctr-item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.table-container {
  position: relative;
  flex: 1;
  margin-top: 10px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 3.5px;
  border: 1px solid #afafaf;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100%;
  overflow: hidden;
  .grid-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    th {
      padding: 8px;
    }

    tbody {
      tr {
        height: 39px;

        td {
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          word-break: break-word;
          padding: 8px;
        }
      }
    }
  }

  table,
  tr td {
    border-bottom: 1px solid #e0e0e0;
  }
  tbody {
    display: block;
    flex: 1;
    overflow: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
  }
  thead {
    width: calc(
      100% - 1em
    ); /* scrollbar is average 1em/16px width, remove it from thead width */
  }
  table {
    width: 400px;
  }
}

.small {
  width: 66px;

  .text-menu {
    display: none;
  }

  .misa-icon {
    &:last-child {
      display: none;
    }
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.right-header {
  .tool-header {
    display: flex;
    .notification {
      padding: 10px;
    }
    .tf-home {
      padding: 10px;
    }
    .help {
      padding: 10px;
    }
  }
}
