$app: #1492e6;
$app-light: #2ea4f1;

$bg-error: #ff5252;
$bg-warning: #fa7d00;
$bg-info: #2185d0;
$bg-confirm: #6ea836;

$gray: #AFAFAF;
$gray-strong: #D9D9D1;


$hover: #2980b9;
$warning-border: #ff6965;
$warning-background: #f2d9d8;
