.contrainer-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  .toobar-left {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toolbar-right {
    display: flex;
  }
}
.app-icon {
  &.ic-add {
    margin-left: -3px;
  }
}
#btn-export {
  background-color: #fff;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-left: 11px;
  &:hover {
    cursor: pointer;
    background-color: #0582a2;
  }
}
#btn-delete {
  background-color: #fff;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  margin-left: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    background-color: #0582a2;
  }
}
.ic-export {
  margin: 0;
}
.ic-delete__toolbar {
  margin: 0;
}
.ic-add {
}
