.app-icon {
  background-image: url("../../images/icons/qlts-icon.svg");
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.app-icon.ic-menu__search {
  background-position: -241px -153px;
}
.app-icon.ic-menu__search:hover, .app-icon.ic-menu__search:focus {
  background-position: -240px -196px;
}
.app-icon.ic-car {
  background-position: -65px -153px;
}
.app-icon.ic-car:hover, .app-icon.ic-car:focus {
  background-position: -65px -197px;
}
.app-icon.ic-category {
  background-position: -196px -152px;
}
.app-icon.ic-category:hover, .app-icon.ic-category:focus {
  background-position: -198px -200px;
}
.app-icon.ic-tools {
  background-position: -153px -153px;
}
.app-icon.ic-tools:hover, .app-icon.ic-tools:focus {
  background-position: -153px -197px;
}
.app-icon.ic-overview {
  background-position: -20px -152px;
}
.app-icon.ic-overview:hover, .app-icon.ic-overview:focus {
  background-position: -22px -198px;
}
.app-icon.ic-asset {
  background-position: -108px -152px;
}
.app-icon.ic-asset:hover, .app-icon.ic-asset:focus {
  background-position: -110px -197px;
}
.app-icon.ic-report {
  background-position: -328px -152px;
}
.app-icon.ic-report:hover, .app-icon.ic-report:focus {
  background-position: -330px -198px;
}
.app-icon.ic-home {
  width: 36px;
  height: 36px;
  min-width: 36px;
  background-position: -20px -680px;
}
.app-icon.ic-back {
  background-position: -29px -290px;
}
.app-icon.ic-notification {
  background-position: -328px -107px;
}
.app-icon.ic-notification:hover {
  background-position: -377px -110px;
}
.app-icon.ic-question-message {
  background-position: -64px -64px;
}
.app-icon.ic-user {
  background-position: -23px -23px;
}
.app-icon.ic-view-grid {
  background-position: -196px -20px;
}
.app-icon.ic-angle-down {
  background-position: -150px -284px;
}
.app-icon.ic-angle-up {
  background-position: -28px -338px;
}
.app-icon.ic-setting {
  background-position: -156px -23px;
}
.app-icon.ic-add {
  background-position: -204px -424px;
}
.app-icon.ic-edit {
  background-position: -156px -68px;
}
.app-icon.ic-delete {
  background-position: -419px -111px;
}
.app-icon.ic-fillter {
  background-position: -240px -64px;
}
.app-icon.ic-date {
  background-position: -287px -67px;
}
.app-icon.ic-input__picker {
  background-position: -419px -111px;
}
.app-icon.ic-export {
  background-position: -287px -111px;
}
.app-icon.ic-search {
  background-position: -239px -19px;
}
.app-icon.ic-angle-downs {
  background-position: -64px -328px;
}

.menu-group:hover .menu-item .ic-menu__search,
.menu-group:focus .menu-item .ic-menu__search {
  background-position: -240px -196px;
}
.menu-group:hover .menu-item .ic-car,
.menu-group:focus .menu-item .ic-car {
  background-position: -65px -197px;
}
.menu-group:hover .menu-item .ic-category,
.menu-group:focus .menu-item .ic-category {
  background-position: -198px -200px;
}
.menu-group:hover .menu-item .ic-tools,
.menu-group:focus .menu-item .ic-tools {
  background-position: -153px -197px;
}
.menu-group:hover .menu-item .ic-overview,
.menu-group:focus .menu-item .ic-overview {
  background-position: -22px -198px;
}
.menu-group:hover .menu-item .ic-asset,
.menu-group:focus .menu-item .ic-asset {
  background-position: -110px -197px;
}
.menu-group:hover .menu-item .ic-report,
.menu-group:focus .menu-item .ic-report {
  background-position: -330px -198px;
}

/*# sourceMappingURL=icon.css.map */
